.tableContainer {
  max-width: 3000px;
  overflow-x: auto;
  margin-left: 0px;
  background-color: #fffefe;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0 20px 20px 20px;
  margin-top: opx;
  margin-bottom: 20px;
  position: relative;
}

.searchContainer {
  display: flex;
  justify-content: flex-start; /* Align to the right */
  align-items: center;
  gap: 330px;
  top: 0px;
  margin-bottom: 5px;
  margin-top: 8px;
  margin-left: 0px;
}

/* .buttonContainer {
  display: flex;
  height: 50px;
  align-items: centre;
  justify-content: space-between;
  flex-direction: column;
  right: 20px;
  gap: 15px;
  width: 100%;
} */

.exportExcel {
  color: #28a745;
  align-items: auto;

  cursor: pointer;
}
.exportPDF {
  color: #dc3545;
  cursor: pointer;
}

.exportButton:hover {
  background-color: #0056b3;
}
.buttonContainer {
  display: flex;
  justify-content: flex-end; /* Align to the right */
  align-items: center;
  gap: 15px;
  position: relative;
  top: 0px;
  margin-bottom: 10px;
  margin-top: 10px;

  right: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  padding: 8px;
}

.table th {
  white-space: nowrap;
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  background-color: #007bff;
}
.table td {
  white-space: nowrap;
  padding: 4px 8px 4px 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.actionButtons {
  display: flex;
  gap: 10px;
}

.iconButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.iconButton:hover {
  opacity: 0.7;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}

.pageButton {
  padding: 4px 8px;
  background: #007bff;
  color: white;
  border: none;

  border-radius: 4px;
  cursor: pointer;
}

.pageButton:disabled {
  background: #ccc;
  cursor: not-allowed;
}
