/* Overriding react-confirm-alert styles */
.react-confirm-alert-overlay {
  background: rgba(0, 0, 0, 0.7) !important;
}

.react-confirm-alert {
  border-radius: 8px;
  background: #fff;
  padding: 1.5rem;
}

.react-confirm-alert-button-group button {
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  margin: 0 0.25rem;
}

.react-confirm-alert-button-group button:first-child {
  background-color: #d33; /* Confirm button color */
  color: white;
}

.react-confirm-alert-button-group button:last-child {
  background-color: #3085d6; /* Cancel button color */
  color: white;
}
