/* Form Section */
.userForm {
  width: 70%;
  max-width: 3500px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  min-width: 350px;
  padding: 20px;
  border-radius: 10px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  flex: 1; /* Makes each input take equal width */
  margin-bottom: 10px;
  min-width: 250px;
}
.required {
  color: red;
  font-weight: bold;
  margin-left: 3px;
}
.error {
  color: red;
  font-size: 14px;
  margin-top: 1px;
}
.formGroup input,
.formGroup select {
  background: rgba(217, 217, 217, 1);
  padding: 8px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  width: 100%;
}
.radioGroup {
  display: flex;
  gap: 15px;
  align-items: center;
}

.radioGroup label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.formRow {
  display: flex;
  gap: 30px;
  width: 100%;
}
.passwordWrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.passwordWrapper input {
  width: 100%;
  padding-right: 35px; /* Space for the eye icon */
}

.eyeIcon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #666;
}
.eyeIcon:hover {
  color: #000;
}
.submitButton {
  background: #000;
  color: #fff;
  border-radius: 10px;
  width: 165px;
  min-height: 50px;
  font: 500 20px Roboto, sans-serif;
  border: 1px solid #000;
  display: block;
  margin: 20px;
  margin-left: 190px; /* Centers button */
}
